.side-bar
  .header
    %h1.header__name
      = current_user.name
    %ul.header__lists
      %li.list
        = link_to "#" do
          =icon('fa', 'edit', class: 'icon')
      %li.list
        = link_to edit_user_path(current_user) do
          =icon('fa', 'cog', class: 'icon')

  .groups
    .group
      .group__name
        group name1
      .group__message
        last group messgae
    .group
      .group__name
        group name2
      .group__message
        last group messgae
